@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Nerko+One&display=swap');

body {
    background-color: #f7e0e0;
}

header {
    /*background-color: #ED4548;*/
    display: grid;
    margin: 10px;
    border-radius: 3px;
}

h1 {
    font-family: 'Nerko One', sans-serif;
    font-size: 50px;
    color: #3a0506;
}

h2, h3, h4, h5, h6 {
    font-family: 'Nerko One', sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
}

h3, h4, h5, h6 {
    padding: 5px 0;
    background-color: #B4D6AE;
    border-bottom: 1px solid #86a081;
}

h3 {font-size: 30px;}

h4 {font-size: 20px;}

h6 {font-size: 15px;}

p {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.5;
}

.logo img {
    width: 100px;
    height: 100px;
}

.social img {
    width: 50px;
    height: 50px;
}

header nav ul li a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #3a0506;
}

header nav ul li a:visited {color: #3a0506;}

header nav ul li a:hover {text-decoration: underline;}

.card {
    border: 1px solid #313b30;
    background-color: white;
}

.card .inner {
    margin: 10px;
}

footer {
    text-align: center;
    background-color: #5D090B;
    padding: 5px;
    color: white;
}

footer a:visited {
    color: white;
}

@media screen and (min-width: 1201px) {
    /***************************************************************************************
    * Header
    ****************************************************************************************/

    header {
        grid-template-columns: 150px 1fr auto;
    }

    .logo {
        margin: 10px auto;
    }

    header nav ul {
        list-style: none;
        display: flex;
        grid-column: 1/4;
        padding: 0;
    }

    header nav ul li {
        margin: 0 20px;
    }

    header nav .social {
        text-align: right;
    }

    header nav .social a {
        margin: 0 10px;
    }

    .navButton {display: none;}

    /***************************************************************************************
    * Main
    ****************************************************************************************/

    main {
        width: 90%;
        margin: 20px auto;
    }
}