@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Nerko+One&display=swap');

body {background-color: #f7e0e0;}

.test {
    background-color: black;
    width: 50px;
    height: 50px;
}

.test {
    background-color: white;
}

header {
    /*background-color: #ED4548;*/
    display: grid;
    margin: 10px;
    border-radius: 3px;
    grid-template-columns: 150px 1fr auto;
}

h1 {
    font-family: 'Nerko One', sans-serif;
    font-size: 50px;
    color: #3a0506;
}

h2, h3, h4, h5, h6 {
    font-family: 'Nerko One', sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
}

h3, h4, h5, h6 {
    padding: 5px 0;
    background-color: #B4D6AE;
    border-bottom: 1px solid #86a081;
}

h3 {font-size: 30px;}

h4 {font-size: 20px;}

h6 {font-size: 15px;}

p, a, label {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.5;
}

.logo img {
    width: 100px;
    height: 100px;
}

.social img {
    width: 50px;
    height: 50px;
}

.logo {margin: 10px auto;}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #3a0506;
}

header nav ul li a:visited {color: #3a0506;}

header nav ul li a:hover {text-decoration: underline;}

h2 {
    position: absolute;
    top: 10px;
    left: 20px;
    color: #B4D6AE;
    text-shadow: 0 0 2px black,
                 0 0 20px black;
}

.card {
    border: 1px solid #313b30;
    background-color: white;
}

.card .inner {margin: 10px;}

.hero {
    position: relative;
    overflow: hidden;
    height: 200px;
    background-color: black;
}

.hero picture {background-color: black;}

.lazy {
    border: 1px solid black;
    margin: auto;
}

.button {
    text-decoration: none;
    background-color: #ED4548;
    border-radius: 15px;
    padding: 12px 22px;
    text-align: center;
    color: black;
}

.button:hover {
    background-color: #e98c8e;
    box-shadow: inset 0 0 10px #ED4548;
    text-decoration: none;
}

.button:visited {
    color: black;
}

footer {
    text-align: center;
    background-color: #5D090B;
    padding: 5px;
    color: white;
}

footer a:visited {color: white;}
footer a:hover {color: white;}

@media screen and (max-width: 700px) {
    .neversmall {display: none;}

    h1 {font-size: 40px;}
    h2 {font-size: 70px;}

    #navButton {
        width: 50px;
        height: 50px;
        margin-top: 35px;
        margin-right: 10px;
    }

    header nav {
        text-align: center;
        grid-column: 1/4;
    }

    header nav ul li a {
        font-size: 30px;
        line-height: 2;
    }

    .hero picture img {
        width: 700px;
        height: 200px;
    }
}

@media screen and (min-width: 701px) {.onlysmall {display: none;}}

@media screen and (min-width: 701px) and (max-width: 1000px) {
    main {
        width: 90%;
        margin: 20px auto;
    }

    header nav ul {
        list-style: none;
        display: flex;
        grid-column: 1/4;
        padding: 0;
    }

    header nav ul li {margin: 0 20px;}

    header nav ul {
        display: block;
        text-align: right;
    }

    h2 {font-size: 50px;}

    .hero picture img {
        width: 1000px;
        height: 200px;
    }
}

@media screen and (max-width: 1000px) {.onlybig {display: none;}}

@media screen and (min-width: 1001px) { 
    .neverbig {display: none;}

    main {
        width: 90%;
        margin: 20px auto;
    }

    .logo {margin: 10px auto;}

    header nav ul {display: flex;}

    header nav ul li {margin: 0 20px;}

    header nav .social {text-align: right;}

    header nav .social a {margin: 0 10px;}

    h2 {font-size: 70px;}

    .hero picture img {
        width: 1200px;
        height: 200px;
    }
}

/* Lazy Loading **************************************/

.lazy {position: relative;}

.lazy .top {
    position: absolute;
    left: 0;
    top: 0;

    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
}

.loaded .top {
    opacity: 0;
}