.principle-container {
 display: grid;
}

@media screen and (max-width: 800px) {
    .principle-container {
        grid-template-columns: 100%;
    }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
    .principle-container {
        grid-template-columns: 50% 50%;
    }
}

@media screen and (min-width: 1200px) {
    .principle-container {
        grid-template-columns: 33% 34% 33%;
    }
}

.design-principle { /*
    display: grid;
    grid-template-columns: 165px, auto;
    grid-template-rows: 1em, 2em, auto; */
    margin: 0.5em auto;
    padding: 10px;
    border-color: #2F374B;
    border-width: 2px;
    border-style: solid;
    background-color: rgb(232, 232, 232);
    width: 280px;
}

.design-principle * {
    margin: 0 auto;
    margin-top: 10px;
    display: block;
}

.design-principle h2 { /*
    grid-column: 1/3; */
    padding: 5px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
    background-color: #2F374B;
    color: white;
}

.design-principle .company { /*
    grid-column: 1;
    grid-row: 2; */
    font-weight: bold;
    text-align: center;
    margin-bottom: -10px;
}

.design-principle .link { /*
    grid-column: 2;
    grid-row: 2; */
    text-align: center;
}

.design-principle .screenshot { /*
    grid-column: 2;
    grid-row: 3; */
    width: 140px;
    height: 304px;
}

.design-principle .analysis { /*
    grid-column: 1;
    grid-row: 3; */
    margin-left: 0.8em;
    margin-right: 1em;
    font-size: 14px;
}
