img {
    display: block;
    max-width: 150px;
    max-height: 150px;
    margin: 0 auto;
}

p {
    margin-top: -15px;
}

.sitePlanNav {
    background-color: #4b5c86;
    margin-top: -10px;
    border-radius: 5px;
}

@media screen and (min-width: 500px) {
    .sitePlanNav ul {
        display: flex;
        padding: 2px;
    }

    .sitePlanNav ul li {
        width: 4em;
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .sitePlanNav ul {
        display: block;
        text-align: center;
    }
}

.sitePlanNav ul li {
    list-style: none;
    padding: 5px;
    margin: 5px;
    border-radius: 2px;
    background-color: #3f4c6c;
}

.sitePlanNav ul li a {
    color: white;
    text-decoration: none;
}

.sitePlanNav ul li a:visited{
    color: lightgrey;
}

.sitePlanNav ul li a:hover{
    color: rgb(149, 149, 149);
}

.personas {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
}

.persona {
    border-width: 2px;
    border-color: #2F374B;
    border-style: solid;
    background-color: rgb(232, 232, 232);
    padding-left: 1em;
    padding-right: 1em;
    width: 70%;
    margin: 0 auto;
}

.scenarios {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    margin-bottom: 2em;
}

.scenario {
    border-width: 2px;
    border-color: #2F374B;
    border-style: solid;
    background-color: rgb(232, 232, 232);
    padding-left: 1em;
    padding-right: 1em;
    width: 70%;
    margin: 0 auto;
    margin: 1em;
}

table {
    margin: 0 auto;
    margin-bottom: 1em;
    border-style: solid;
    border-width: 2px;
}

table * {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    width: 10em;
    height: 2em;
    text-align: center;
    vertical-align: center;
}