@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@500&family=Roboto:wght@400;700&display=swap');

#h1 .example {
    font-family: 'Montserrat', sans-serif;
}

#h2 .example {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

#p .example {
    font-family: 'Lora', sans-serif;
}