@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.center {
    text-align: center;
}

html {
    background-color: #5E5768;
}

body {
    max-width: 80%;
    margin: 30px auto;
    padding: 15px;
    background-color: white;
    border-radius: 25px;
    color: #2F374B;
}

header {
    background-color: #2F374B;
    border-radius: 10px;
    padding: 10px;
    display: flex;
}

header h1 {
    color: white;
    margin: auto auto;
    font-family: 'Libre Baskerville', serif;
}

footer {
    background-color: #2F374B;
    border-radius: 10px;
    padding: 0.5em;
    color: white;
    text-align: center;
}

footer p {
    margin: 0 0;
}

.diminished {
    font-style: italic;
    color: lightgrey;
    font-size: 7;
}

h2 .subheader {
    display: block;
    font-style: italic;
    font-weight: normal;
    font-size: large;
    margin-left: 1em;
}